//- mix區塊
//-產生標題(英文標題,中文標題)
mixin title(eng,chi)
    div(class="title-box")
    h2(class="title")=eng
    h1=chi
    img(src="img/line.png",alt="線條")

mixin product-box(img,tit2,text)
    div(class="product-box")
        a(href="#")
                img(src="img/" + img + ".png",alt="產品 照片")
                hr
                h2=tit2
                p=text

<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路
        link(rel="stylesheet", href="style.css")
    body
        div(id="banner")
            nav
                img(src="img/logo.png", alt="狸小路 logo" id="logo")
                div(id="link")
                    a(href="#") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 聯絡我們
        section(id="brands")
            +title("BRANDS","狸小路的堅持")  
            p 不加多餘的糖份、油脂，不給不必要的色素裝飾，只有單純原味，與健康分享，不靠防腐香精來增加香氣與保存期限，使甜膩少一點、但保存短一點，讓你吃的無負擔，追求健康多一點。
            img(src="img/brands.png",alt="狸小路 產品")

        +title("CAKE","產品介紹")

        section(id="product")
            +product-box("cake01","香蕉巧克力蛋糕$280","苦甜巧克力的蛋糕體配上新鮮的香蕉切片，再搭上一些鮮奶油，意想不到的搭配組合出意想不到的口感")
            +product-box("cake02","貓咬乳酪$200","單純的以蛋、牛奶、乳酪、日本麵粉、奶油為原料組合出不簡單的口感")
            +product-box("cake03","可可乳酪$260","苦甜巧克力拌入輕乳酪裡，呈現出來的是一加一加分效果")
            +product-box("cake04","小路芋頭$260","日式海綿蛋糕不同於一般的戚風蛋糕，吃起來口感更順口，搭配上新鮮的芋頭內餡，吃起來更是大大的滿足")
            +product-box("cake05","小路布丁$280","以輕乳酪為底部的蛋糕體配上滑順帶楓糖香味的布丁，二種層次，吃在嘴裡滿足在心裡")
            +product-box("cake06","戀愛小路$280","巧克力的蛋糕體，以乳酪條作為表面的裝飾，內餡夾鮮奶油及覆盆苺的酸甜好滋味。")
            +product-box("cake07","豹紋巧克力千層$830","狸小路的招牌千層蛋糕之一，不膩口的鮮奶油內餡再擠上一圈圈的巧克力醬，配上獨創的的豹紋圖案，讓您有不同的感受")
            +product-box("cake08","長頸鹿巧克力千層$830","單純的以苦甜巧克力加入鮮奶油而成的奶油餡，抹滿整個蛋皮，一層一層堆疊而成的千層，表面再加上獨創的長頸鹿圖案，更顯得與眾不同的口感")
            +product-box("cake09","原味香草千層$780","天然的香草內餡，滑順的奶油餡，蛋香味滿分的蛋皮，好吃嗎?吃吃看就知道囉")
            +product-box("cake10","檸檬千層$930","新鮮檸檬加上蛋及奶油，好吃天然的檸檬醬內餡，就是這麼簡單的原料，讓您每一口都回味無窮")
            +product-box("cake11","太妃焦糖千層$830","焦糖拌上鮮奶油，煮出來的焦糖醬帶著牛奶糖的味道，微甜的焦糖醬拌著蛋皮，每一口都是回憶")
            +product-box("cake12","香蕉朱古力千層$830","苦甜巧克力拌成的鮮奶油內餡，搭配上香氣十足的新鮮香蕉切片，一口一口讓您停不了口 ")

        +title("NEWS","最新消息")
        +title("CONTACT","聯絡我們")