*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
}

#banner{
    background-image: url(img/Banner.jpg);
    background-size: 100vw;
    /*bgr背景圖片重複*/
    background-repeat: no-repeat;
    width: 100vw;
    /*calc css計算 + - * /  */
    height: calc(100vw/2.5);
}
#logo{
    width: 300px;
}
#link{
    float: right;
    padding: 40px 0;
}
#link a{
    color:#fff;
    /*text-decoration文字底線*/
    text-decoration: none;
    /*內距 上下  左右*/
    padding: 5px 15px;
    /*字體粗細0~900*/
    font-weight: 800;
}

#link a:hover{
    background-color: #ffe048;
    color:black;
    /*transition 動畫效果*/
    transition:0.6s;
}
/*導覽列區塊*/
nav{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}
#brands{
    text-align: center;
}

.title::before{
    content: "~";
    padding-right: 20px;
}

.title::after{
    content: "~";
    padding-left: 20px;
}

#brands p{
    width: 570px;
    margin: 0 auto;
    padding: 30px;
    line-height: 2;
    /*透明度0-1*/
    opacity:0.5;
    /*字距*/
    letter-spacing: 5px;
}
